/* comentario */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* SASS y variables */

:root{
    /* paleta de colores de la web */ /* colore imprenta CMYK*/ /* colores pantalla RGB */
    --violeta: #452389; /* R _ _ , G _ _ , B _ _   0-9 A-F */
    --blancoMarfil: #e2e6ea;
    --colorSecundario: darkgrey;
    --colorRgb: rgb(125, 50, 200); /* valores de 0 a 255 */
    --colorRgba: rgba(125, 50, 200, 0.313);

    /* tamaños de fuentes */
    --tamanioParrafo: 2rem; /* 1em M=16px, rem M, % contenedor, 1ex x=8px=0.5em, ch ancho 0, 50vw, vh */
    --tamanioTitulos: 3rem;
    --tamanioSubtitulos: 2.8rem;

    /* fondos */
    --fondoTexto:#e8c7ff;
    --fondoOscuro:#0f011e;
    
    /* tipografía */
    --letraFamily: Roboto, Verdana, Geneva, Tahoma, sans-serif;

}

/* selector { propiedades: valor;} 

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(160,25,214);
    background: linear-gradient(5deg, rgba(160,25,214,1) 0%, rgba(0,189,232,1) 89%);
}

/* selector de etiqueta 

h1 {
    color:var(--blancoMarfil);
    font-size: 20px;
    padding: 10px;
    background-color: var(--violeta);
    text-align: center;
}

h2 {
    color: var(--violeta);
    font-size: 1.5rem;
    margin-top: 20px;
    border-bottom: 2px solid var(--violeta);
    padding-bottom: 10px;
    width: 50%;
}

/* selectores id 

#tituloDiferente {
    font-size: var(--tamanioTitulos);
    background-color: var(--colorSecundario);
    text-align: center;
}

/* selector class 

.tituloChico {
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    background-color: #422184;
    padding: 10px;
    border-radius: 30px;
    width: 120px;
    text-align: center;
}

/* ******** */
/*
p {
    margin-bottom: 15px;
    width: 50%;
    font-size: 1.2rem;
}

article {
    margin-left: 20px;
    display: inline;
}

article div {
    margin-left: 20px;
}

div {
    display: inline;
}*/

/* selector de herencia */

/*#img h3 {
    font-size: 3rem;
}

         
.pepe {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  #img{
    width: 500px;
    height: 500px;
    border: 2px solid var(--violeta);
    background-color: var(--violeta);
    background-image: url(img/marcoai.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #h3ejemplo{
    font-size: 3rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }*/

  /* box model - modelo de caja */

  .bb{
    margin: 10px;  /* margen 10px en todos los lados */
    margin-top: 15px; /* el lado puntual */
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;

    margin: 10px 15px; /* top/bottom   right/left */
    margin: 10px 15px 20px; /* top   right/left  bottom */
    margin: 10px 15px 20px 25px; /* top   right bottom  left */

    padding: 10px;  /* margen 10px en todos los lados */
    padding-top: 15px; /* el lado puntual */
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    padding: 10px 15px; /* top/bottom   right/left */
    padding: 10px 15px 20px; /* top   right/left  bottom */
    padding: 10px 15px 0 25px; /* top   right bottom  left */

    border: 1px;  /* margen 10px en todos los lados */
    border-top: 2px; /* el lado puntual */
    border-right: 2px;
    border-bottom: 2px;
    border-left: 2px;

    border: 1px 2px; /* top/bottom   right/left */
    border: 3px 1px 2px; /* top   right/left  bottom */
    border: 1px 1px 2px 2px; /* top   right bottom  left */

    border-color: #452389;
    border-width: 2px;
    border-style: solid;

    border-color: red green blue var(--violeta);
    border-width: 1px 1px 2px 2px;
    border-style: solid dotted solid;

    box-sizing: border-box; /* content-box border-box initial inherit */

  }

  /* display */

  /* block inline inline-block none flex grid table */

  .color{
    color: chocolate;
    font-weight: 300;
    margin-top: 60px;
  }

  .b1 {
     display: none;
    /*visibility: hidden;  visible|hidden|collapse|initial|inherit */
  }

  /* position */

  #estructura{
    width: 100%;
    height: 50px;
    background-color: black;
    color: #e2e6ea;
    text-align: center;
    position: fixed;
    top:0px;
    left: 0px;
  }


  .box{
    width: 80%;
    height: 300px;
    border: 2px solid var(--fondoOscuro);
    opacity: 90%;
    position: absolute;
    
  }

  .texto{
    font-size: 3rem;
    font-weight: 700;
    color: var(--fondoOscuro);
    padding: 20px;
    text-align: center;
  }

  .z1{
    background-color: #e8c7ff;      
    top: 0;
    left: 700px; 
    z-index: 20;
  }

  .z2{
    background-color: #6c3097;   
    top: 0;
    left: 350px;
    z-index: 0;
  }

  .z3{
    background-color: #1e0431;
    color: #e2e6ea;
    top: 0;
    left: 0;
    z-index: 10;
  }