/* comentario */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* SASS y variables */

:root{
    /* paleta de colores de la web */ /* colore imprenta CMYK*/ /* colores pantalla RGB */
    --violeta: #452389; /* R _ _ , G _ _ , B _ _   0-9 A-F */
    --blancoMarfil: #e2e6ea;
    --colorSecundario: darkgrey;
    --colorRgb: rgb(125, 50, 200); /* valores de 0 a 255 */
    --colorRgba: rgba(125, 50, 200, 0.313);

    /* tamaños de fuentes */
    --tamanioParrafo: 2rem; /* 1em M=16px, rem M, % contenedor, 1ex x=8px=0.5em, ch ancho 0, 50vw, vh */
    --tamanioTitulos: 3rem;
    --tamanioSubtitulos: 2.8rem;

    /* fondos */
    --fondoTexto:#e8c7ff;
    --fondoOscuro:#0f011e;
    
    /* tipografía */
    --letraFamily: Roboto, Verdana, Geneva, Tahoma, sans-serif;

}

/* selector { propiedades: valor;} */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(160,25,214);
    background: linear-gradient(5deg, rgba(160,25,214,1) 0%, rgba(0,189,232,1) 89%);
}

/* selector de etiqueta */

h1 {
    color:var(--blancoMarfil);
    font-size: 20px;
    padding: 10px;
    background-color: var(--violeta);
    text-align: center;
}

h2 {
    color: var(--violeta);
    font-size: 1.5rem;
    margin-top: 20px;
    border-bottom: 2px solid var(--violeta);
    padding-bottom: 10px;
    width: 50%;
}

/* selectores id */

#tituloDiferente {
    font-size: var(--tamanioTitulos);
    background-color: var(--colorSecundario);
    text-align: center;
}

/* selector class */

.tituloChico {
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    background-color: #422184;
    padding: 10px;
    border-radius: 30px;
    width: 120px;
    text-align: center;
}

/* ******** */
/*
p {
    margin-bottom: 15px;
    width: 50%;
    font-size: 1.2rem;
}

article {
    margin-left: 20px;
    display: inline;
}

article div {
    margin-left: 20px;
}

div {
    display: inline;
}*/

/* selector de herencia */

/*#img h3 {
    font-size: 3rem;
}*/

         
.pepe {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  #img{
    width: 500px;
    height: 500px;
    border: 2px solid var(--violeta);
    background-color: var(--violeta);
    background-image: url(img/marcoai.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #h3ejemplo{
    font-size: 3rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }


  